@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";



body { 
  font-family: "Vazirmatn", sans-serif;
}


@keyframes blinkFocus {
  0% {
    box-shadow: 0 0 0px #facc15;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 12px #facc15;
    transform: scale(1.1);
  }
  100% {
    box-shadow: 0 0 0px #facc15;
    transform: scale(1);
  }}


.active {
  animation: blinkFocus 1.5s ease-in-out infinite;
}


